<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/img/favicon.png" />
    <title>Curriculo | Eduardo da Silva Rocha</title>
    <!-- Bootstrap CSS -->
    
    <!-- CSS here -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/themify-icons.css">
    <link rel="stylesheet" href="css/nice-select.css">
    <link rel="stylesheet" href="css/flaticon.css">
    <link rel="stylesheet" href="css/gijgo.css">
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="css/slick.css">
    <link rel="stylesheet" href="css/slicknav.css">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Muli:wght@200;400;500;600;800;900&display=swap" rel="stylesheet">
   
</head>
<body>
    <!-- header-start -->
    <header>
        <div class="header-area ">
            <div id="sticky-header" class="main-header-area">
                <div class="container">
                    <div class="header_bottom_border">
                        <div class="row align-items-center">
                            <div class="col-xl-2 col-lg-2">
                                <div class="logo">
                                    <a href="/index">
                                        <img class="logo_top" src="/img/logoW.svg" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="col-xl-8 col-lg-7">
                                <div class="main-menu  d-none d-lg-block">
                                    <nav>
                                        <ul id="navigation">
                                            <li><a class="active" href="/">Apresentação</a></li>
                                            <li><a href="/formacao">Formação</a></li>
                                            <li><a href="/experiencias">Experiências</a></li>
                                            <li><a href="/contato">contato</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                            <div class="col-xl-2 col-lg-3 d-none d-lg-block">
                                <div class="Appointment">
                                    <div class="nav_link"><a href="https://www.workana.com/freelancer/1e27a318e1472cc7c34d846800f2f6f2?ref=user_dropdown" ><img src="img/icons/workana.png" alt=""></a></div>
                                    <div class="nav_link"><a href="https://www.linkedin.com/in/eduardosrocha/"><img src="img/icons/linkedin.svg" alt=""></a></div>
                                    <div class="nav_link"><a href="https://www.behance.net/EddieStudioID"><img src="img/icons/behance.svg" alt=""></a></div>
                                    <div class="nav_link"><a href="/index"><img src="img/icons/intoud.svg" alt=""></a></div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </header>
    <div class="header-section secao_curriculo pt_curriculo" id="apresentacao">
        <h1>FullStack JavaScript Developer</h1>
        <h2>EDUARDO DA SILVA ROCHA</h2>
        <address>
            <li>Camobi - Santa Maria, Rio Grande do Sul</li>
        </address>
    </div>
        <div class="container">
            <div class="formacao secao_curriculo pt_curriculo" id="formacao">
                    <div class="row">
                        <h3>[Formação]</h3>
                        <div class="col-md-6">
                            <div class="formacao_conteudo">
                                <h4>[Academia]</h4>
                                <ul class="curso">
                                    <li>Bacharelado, Sistemas de Informação - Universidade Federal de Santa Maria</li>
                                    <li>2017 ~ 2021 *c*</li>
                                </ul>
                                <ul class="curso">
                                    <li>Bacharelado, Design de games - Universidade Anhembi Morumbi</li>
                                    <li>(2012 ~ 2016) *nc*</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="idioma_conteudo">
                                <h4>[Idiomas]</h4> 
                                <ul>
                                    <li>Inglês - avançado</li>
                                    <li>Alemão - intermediário</li>
                                    <li>Francês - intermediário</li>
                                    <li>Português - nativo</li>
                                </ul>
                            </div>
                        </div>
                        
                    </div>
            </div>
            <div class="linguas secao_curriculo pt_curriculo" id="linguas">
                <div class="row">
                    
                </div>
            </div>
        </div>

        <div class="banner pb pt">
            <div class="container">
                <div class="row">
                    <div class="col-md-6" style="text-align: right; margin-top: -10px;">
                        <h4>me contrate agora!</h4> 
                        <p>2 por 1 | FullStack e Design em um só</p>
                    </div>
                    <div class="col-md-6">
                        <button class="button">Entre em contato</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">        
            <div class="habilidades secao_curriculo pt_curriculo pb_curriculo" id="habilidades">
                <div class="row">
                    <h3>[Habilidades]</h3>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="habilidade">
                                <img class="icons_design_Softwares" src="img/icons/photoshop.svg" alt="">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 95%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">95%</div>
                                </div>
                            </div>
                            <div class="habilidade">
                                <img class="icons_design_Softwares" src="img/icons/ilustrador.svg" alt="">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 99%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">99%</div>
                                </div>
                            </div>
                            <div class="habilidade">
                                <img class="icons_design_Softwares" src="img/icons/lightroom.svg" alt="">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 90%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">90%</div>
                                </div>
                            </div>
                            <div class="habilidade">
                                <img class="icons_design_Softwares" src="img/icons/premier.svg" alt="">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 85%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">85%</div>
                                </div>
                            </div>
                            <div class="habilidade">
                                <img class="icons_design_Softwares" src="img/icons/indesign.svg" alt="">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 85%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">85%</div>
                                </div>
                            </div>
                            <div class="habilidade">
                                <img class="icons_design_Softwares" src="img/icons/aftereffects.svg" alt="">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 85%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">85%</div>
                                </div>
                            </div>
                            
                        </div>
                        <div class="col-md-4">
                            
                            <div class="habilidade">
                                <img class="icons_design_Softwares" src="img/icons/xd.svg" alt="">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">100%</div>
                                </div>
                            </div>
                            <div class="habilidade">
                                <img class="icons_developer" src="img/icons/postgresql.svg" alt="">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">100%</div>
                                </div>
                            </div>
                            <div class="habilidade">
                                <img class="icons_developer" src="img/icons/mdba.png" alt="">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">100%</div>
                                </div>
                            </div>
                            <div class="habilidade">
                                <img class="icons_developer" src="img/icons/github.png" alt="">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">100%</div>
                                </div>
                            </div>
                            <div class="habilidade">
                                <img class="icons_developer" src="img/icons/nodejs.png" alt="">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">100%</div>
                                </div>
                            </div>
                            <div class="habilidade">
                                <img class="icons_developer" src="img/icons/bootstrap.png" alt="">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">100%</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            
                            <div class="habilidade">
                                <img class="icons_developer" src="img/icons/html5.svg" alt="">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">100%</div>
                                </div>
                            </div>
                            <div class="habilidade">
                                <img class="icons_developer" src="img/icons/googlecloud.png" alt="">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">100%</div>
                                </div>
                            </div>
                            <div class="habilidade">
                                <img class="icons_developer" src="img/icons/css.png" alt="">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">100%</div>
                                </div>
                            </div>
                            <div class="habilidade">
                                <img class="icons_developer" src="img/icons/js.png" alt="">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">100%</div>
                                </div>
                            </div>
                            <div class="habilidade">
                                <img class="icons_developer" src="img/icons/mysql.png" alt="">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">100%</div>
                                </div>
                            </div>
    
                        </div>
                    </div>
                </div>
               
            </div>
        </div>


        <footer id="contato" class="footer footer-area">
            <div class="container">
                <div class="row footer-conteudo">
                    <div class="col-md-3">    
                        <h4>Sobre mim</h4>
                        <p>Estou em processo de abertura de empresa. Quer me contratar? Entre em contato pelo whatsapp ou me envie um e-mail. Também estou disponível através da plataforma Workana!
                        </p>
                    </div>
                    <div class="col-md-3">
                        <ul>
                            <h4>Contato</h4>
                            <li>Telefone: +55 11 95401 3521</li>
                            <li>Seg a sexta das 8h as 20h</li>
                            <li>Sabado das 8h as 18h</li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <h4>Links Úteis</h4>
                        <ul>
                            <li class="link_footer"><a href="https://github.com/EddieUFSM">EddieUFSM · GitHub</a></li>
                            <li class="link_footer"><a href="https://trampos.co/eddie-ddarko">Currículo · Trampos.co</a></li>
                            <li class="link_footer"><a href="https://www.behance.net/EddieStudioID">Portfólio · Behance </a></li>
                            <li class="link_footer"> <a href="https://www.workana.com/freelancer/1e27a318e1472cc7c34d846800f2f6f2?ref=user_dropdown">Contrate via · Workana</a></li>
                        </ul>
                    </div>
                </div>
                <div class="footer-bottom row align-items-center text-center text-lg-left">
                    <p class="footer-text m-0 col-lg-8 col-md-12"><p>Copyright &copy;<script>document.write(new Date().getFullYear());</script> todos os direitos reservados | Eduardo Rocha <a href="https://www.behance.net/EddieStudioID"> Desenvolvido por <img class="logo_footer" src="./img/logoW.svg" alt=""></a></p>
                    <div class="col-lg-4 col-md-12 text-center text-lg-right footer-social">
                        <div class="nav_link_footer"><a href="https://www.workana.com/freelancer/1e27a318e1472cc7c34d846800f2f6f2?ref=user_dropdown"><img src="img/icons/workana.png" alt=""></a></div>
                        <div class="nav_link_footer"><a href="https://www.linkedin.com/in/eduardosrocha/"><img src="img/icons/linkedin.svg" alt=""></a></div>
                        <div class="nav_link_footer"><a href="https://www.behance.net/EddieStudioID"><img src="img/icons/behance.svg" alt=""></a></div>
                        <div class="nav_link_footer"><a href="/"><img src="img/icons/intoud.svg" alt=""></a></div>
                    </div>
                  </div>
            </div>
        </footer>
    
         <!-- JS here -->
        <script src="js/vendor/modernizr-3.5.0.min.js"></script>
        <script src="js/vendor/jquery-1.12.4.min.js"></script>
        <script src="js/popper.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/owl.carousel.min.js"></script>
        <script src="js/isotope.pkgd.min.js"></script>
        <script src="js/ajax-form.js"></script>
        <script src="js/waypoints.min.js"></script>
        <script src="js/jquery.counterup.min.js"></script>
        <script src="js/imagesloaded.pkgd.min.js"></script>
        <script src="js/scrollIt.js"></script>
        <script src="js/jquery.scrollUp.min.js"></script>
        <script src="js/wow.min.js"></script>
        <script src="js/nice-select.min.js"></script>
        <script src="js/jquery.slicknav.min.js"></script>
        <script src="js/jquery.magnific-popup.min.js"></script>
        <script src="js/plugins.js"></script>
        <script src="js/gijgo.min.js"></script>
        <script src="js/slick.min.js"></script>
        <!--contact js-->
        <script src="js/contact.js"></script>
        <script src="js/jquery.ajaxchimp.min.js"></script>
        <script src="js/jquery.form.js"></script>
        <script src="js/jquery.validate.min.js"></script>
        <script src="js/mail-script.js"></script>
    
        <script src="js/main.js"></script>
    
    </body>
    </html>